/* Importing Google font - Poppins */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "Poppins", sans-serif;
}

body {
	margin: 0;
	padding: 0;
	min-height: 100vh;
	display: flex;
}
.layout {
	display: flex;
	width: 100%;
	height: 100vh;
}

.sidebar {
	top: 0;
	left: 0;
	height: 100%;
	width: var(--sidebar-width, 260px);

	background: #500001;
	padding: 25px 20px;
	transition: all 0.4s ease;
}

.content {
	flex: 1; /* Ocupar o espaço restante */
	padding: 20px;
	overflow-x: auto; /* Evitar rolagem horizontal */
	background-color: #f5f5f5;
}

.sidebar .sidebar-header {
	display: flex;
	align-items: center;
}

.sidebar .sidebar-header img {
	width: 42px;
	border-radius: 50%;
}

.sidebar .sidebar-header h2 {
	color: #fff;
	font-size: 0.75rem;
	font-weight: 600;
	white-space: nowrap;
	margin-left: 23px;
}

.sidebar-links h4 {
	color: #fff;
	font-weight: 500;
	white-space: nowrap;
	margin: 10px 0;
	position: relative;
}

.sidebar-links h4 span {
	opacity: 0;
}

.sidebar-links .menu-separator {
	position: absolute;
	left: 0;
	top: 50%;
	width: 100%;
	height: 1px;
	transform: scaleX(1);
	transform: translateY(-50%);
	background: rgb(255, 255, 255);
	transform-origin: right;
	transition-delay: 0.2s;
}

.sidebar-links {
	list-style: none;
	margin-top: 20px;
	height: 80%;
	overflow-y: auto;
	scrollbar-width: none;
}

.sidebar-links::-webkit-scrollbar {
	display: none;
}

.sidebar-links li a {
	display: flex;
	align-items: center;
	gap: 0 20px;
	color: #fff;
	font-weight: 500;
	white-space: nowrap;
	padding: 15px 10px;
	text-decoration: none;
	transition: 0.2s ease;
}

.sidebar-links li a:hover {
	color: #161a2d;
	background: #fff;
	border-radius: 4px;
}

.sidebar:hover .user-account {
	background: #fff;
	border-radius: 4px;
}

.form-container {
	max-width: 500px;
	margin: auto;
	padding: 20px;
	border: 1px solid #000000;
	border-radius: 5px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

label {
	display: block;
	margin-bottom: 5px;
	font-weight: bold;
}

input {
	width: 90%;
	padding: 10px;
	margin-bottom: 10px;
	border: 1px solid #6464641e;
	border-radius: 5px;
}

button {
	padding: 10px 20px;
	background-color: #007bff;
	color: white;
	border: none;
	border-radius: 5px;
	cursor: pointer;
}

button:hover {
	background-color: #0056b3;
}

.result {
	margin-top: 10px;
	padding: 10px;
	background-color: #f9f9f9;
	border: 1px solid #ddd;
	border-radius: 5px;
}
.table {
	width: 100%; /* A tabela ocupa toda a largura disponível */
}

.table th,
.table td {
	padding: 0.75rem 0.5rem;
	text-align: left;
	border: 1px solid #ddd;
	font-size: 0.9rem;
}


